# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
# conda list -e > requirements.txt
cuda-cccl=12.1.109=0
cuda-cudart=11.7.99=0
cuda-cudart-dev=11.7.99=0
cuda-cupti=11.7.101=0
cuda-libraries=11.7.1=0
cuda-libraries-dev=11.7.1=0
cuda-nvrtc=11.7.99=0
cuda-nvrtc-dev=11.7.99=0
cuda-nvtx=11.7.91=0
cuda-runtime=11.7.1=0
cudatoolkit=11.8.0=h09e9e62_11
cudnn=8.1.0.77=h3e0f4f4_0
dotmap=1.3.30=pyhd8ed1ab_0
imbalanced-learn=0.10.1=pyhd8ed1ab_0
keras=2.10.0=pypi_0
keras-preprocessing=1.1.2=pypi_0
matplotlib-base=3.7.1=py310h51140c5_0
matplotlib-inline=0.1.6=py310haa95532_0
neurokit2=0.2.4=pyha21a80b_0
numpy=1.24.4=py310hd02465a_0
openpyxl=3.1.2=py310h8d17308_0
pandas=2.0.2=py310h1c4a608_0
pillow=9.3.0=pypi_0
pip=23.2.1=pyhd8ed1ab_0
pytorch=1.13.1=py3.10_cuda11.7_cudnn8_0
pytorch-cuda=11.7=h16d0643_5
pytorch-mutex=1.0=cuda
pyts=0.13.0=pyh1a96a4e_0
scikit-learn=1.2.2=0
scipy=1.11.2=py310h70e3499_1
seaborn=0.12.2=py310haa95532_0
setuptools=68.2.2=pyhd8ed1ab_0
tensorboard=2.10.1=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
tensorflow=2.10.1=pypi_0
tensorflow-estimator=2.10.0=pypi_0
torchaudio=0.13.1=pypi_0
torchinfo=1.8.0=pyhd8ed1ab_0
torchvision=0.14.1=pypi_0